.fieldset{
  display: grid;
  grid-template-columns: 204px repeat(5, 1fr);
  column-gap: 12px;
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset2{
  display: grid;
  grid-template-columns: 204px repeat(2, 2fr);
  column-gap: 12px;
  margin: 0;
  padding: 0;
  border: none;
}

.formList {
  display: flex;
  width: 100%;
  gap: 12px;
  margin: 0 auto 120px;
  flex-direction: column;
  max-width: 952px;
}