.fieldset{
  display: grid;
  grid-template-columns: 204px repeat(5, 1fr);
  column-gap: 12px;
  margin: 0;
  padding: 0;
  border: none;
}

.formQueue {
  display: flex;
  width: 100%;
  gap: 12px;
  margin: 0 auto 52px;
  flex-direction: column;
  max-width: 829px;
}