.containerResultFibonacci {
  gap: 16px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(10, fit-content(100px));
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  row-gap: 78px;
}

.elementFibonacci {
  margin: 0 8px 0;
}