body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.container-inputs-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 567px;
  gap: 12px;
  margin: 0 auto;
}

.container_type_string {
  margin-bottom: 120px;
}

.container_type_fibb {
  margin-bottom: 48px;
}

.container_type_sort{
  margin-bottom: 48px;
  max-width: 980px;
}


.container-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin: 0;
}

.container-result-type-sort{
  align-items: flex-end;
  gap: 10px;
  min-height: 340px;
}

.container-result-fibb {
  grid-template-columns: repeat(10, fit-content(100px));
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  row-gap: 78px;
}

.fibb {
  margin: 0 8px 0;
}


.list {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.list-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-row-butt{
  gap: 12px;
  display: flex;
  flex-direction: row;
  max-width: 422px;
  width: 100%;
}

.rightButton {
    margin-left: auto;
}

.container-result-column {
  display: flex;
  flex-direction: column;

}

/*
*{
  border: aquamarine solid 1px;
  box-sizing: border-box;
}*/
