.fieldset {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  gap: 12px;
  border: none;
  padding: 0;
  margin: 0 auto 48px;
}

.radioFieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  border: none;
  margin: 0;
}