.containerResultSorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  align-items: flex-end;
  gap: 10px;
  min-height: 340px;
}